<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">MG Charity Tracker</a>
</nav>
    <br>
    <br>
    <div class="container">
        <div class="row">
            {{#each charity}}

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1500837744038-ec60054ed01e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a6afec6e65db063cc6e263f5a955a54f&auto=format&fit=crop&w=1650&q=80" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-text">{{this.charityName}}</h4>
                <p class="card-text">{{this.mailingAddress.streetAddress1}}</p>
                <p class="card-text">{{this.irsClassification.nteeClassification}}</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <!-- ADD charities to user dashboard -->
                    <form action="/charities" method="POST">
                        <button type="submit" name="ein" value="{{this.ein}}" id="{{@index}}" class="btn btn-sm btn-info">Select</button>
                        <button type="button" class="btn btn-sm btn-outline-info">More Info</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
    </div>
    <!-- <script>
    console.log(localStorage.getItem('Name'));

    </script> -->
